.fade-out-0 {
    animation-name: fadeOut;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}

.fade-out-1 {
    animation-name: fadeOut;
    animation-duration: 25s;
    animation-fill-mode: forwards;
}

.fade-out-2 {
    animation-name: fadeOut;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.spin {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.turn-black {
    animation-name: turn-black;
    animation-duration: 8s;
    animation-fill-mode: forwards;
}

.turn-red {
    animation-name: turn-red;
    animation-duration: 60s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes turn-black {
    from {
        background-color: red;
    }
    to {
        background-color: black;
    }
}

@keyframes turn-red {
    from {
        background-color: white;
    }
    to {
        background-color: red;
    }
}